PORT=3000
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_SECRET_KEY=BURAYA_TESTNET_SECRET_KEY_YAZ
DONATION_DESTINATION=GBVGHDPCZNEKII5PQFYWUYLC6QJXFGWGUDQJLUTRDVIFWVISHR42GC6B
SOROBAN_CONTRACT_ID=BURAYA_DEPLOY_SONRASI_CONTRACT_ID_YAZ
